Repository radochm/build-test: changes, and which Prow jobs are due for each by the changed paths.
All: vi-test, verify-image-build, build-push-image

.prow.yaml:

presubmits:
  - name: vi-test
    decorate: true
    run_if_changed: ".go"
    spec:
      containers:
      - image: golang:1.20.2
        command:
        - "/bin/sh"
        args:
        - "-c"
        - |
          make unit
postsubmits:
  - name: verify-image-build
    cluster: default
    branches:
    - main
    run_if_changed: "(\\.go|^Makefile|^Dockerfile)$"
    skip_branches:
    annotations:
      description: Verify image build on pull requests to main branch
    decorate: true
    decoration_config:
      censor_secrets: true
    max_concurrency: 1
    spec:
      containers:
      - name: kaniko
        image: gcr.io/kaniko-project/executor:v1.9.2
        command:
        - /kaniko/executor
        args:
        - --context=/home/prow/go/src/github.com/radochm/build-test
        - --dockerfile=Dockerfile
        - --no-push
        resources:
          requests:
            cpu: 2
            memory: 2Gi

  - name: build-push-image
    cluster: default
    run_if_changed: "^VERSION$"
    branches:
    - main
    annotations:
      description: Build and Push Image to DockerHub
    decorate: true
    decoration_config:
      censor_secrets: true
    max_concurrency: 1
    spec:
      containers:
      - name: kaniko
        image: gcr.io/kaniko-project/executor:debug
        command:
        - "/bin/sh"
        - "-c"
        - |
          executor --context=${PWD} \
            --dockerfile=Dockerfile --destination=radoslawc/nmath:${BUILD_ID}
        volumeMounts:
          - name: kaniko-secret
            mountPath: /kaniko/.docker/
        resources:
          requests:
            cpu: 2
            memory: 2Gi
      volumes:
        - name: kaniko-secret
          secret:
            secretName: regcred
            items:
              - key: .dockerconfigjson
                path: config.json

Update .prow.yaml
  .prow.yaml
Due: none

Update math.go
  nmath/math.go
Due: vi-test, verify-image-build

Create Makefile
  prowsubd/Makefile
Due: none

Create main.go
  prowsubd/main.go
Due: vi-test, verify-image-build

Update Makefile
  prowsubd/Makefile
Due: none

Update main.go
  prowsubd/main.go
Due: vi-test, verify-image-build

Update main.go
  main.go
Due: vi-test, verify-image-build

added license headers
  .prow.yaml
  Dockerfile
  main.go
  nmath/math.go
  nmath/math_test.go
  prowsubd/main.go
Due: vi-test, verify-image-build

Update Dockerfile
  Dockerfile
Due: verify-image-build
