Repository radochm/build-test: changes, and which Prow jobs are due for each by the changed paths.
All: nmath-test, nmath-test-fmt, nmath-test-vet, nmath-lint, verify-image-build, push-image

.prow.yaml:

presubmits:
  - name: nmath-test
    decorate: true
    run_if_changed: "(\\.go|^Makefile)$"
    spec:
      containers:
      - image: golang:1.20.2
        command:
        - make
        args:
        - test
  - name: nmath-test-fmt
    decorate: true
    run_if_changed: "(\\.go)$"
    spec:
      containers:
      - image: golang:1.20.2
        command:
        - make
        args:
        - fmt
  - name: nmath-test-vet
    decorate: true
    run_if_changed: "(\\.go)$"
    spec:
      containers:
      - image: golang:1.20.2
        command:
        - make
        args:
        - vet
  - name: nmath-lint
    decorate: true
    run_if_changed: "(\\.go)$"
    spec:
      containers:
      - image: golang:1.20.2
        command:
        - "/bin/sh"
        - "-c"
        - |
          wget -O- -nv https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s v1.52.2
          bin/golangci-lint run -v

postsubmits:
  - name: verify-image-build
    cluster: default
    branches:
    - main
    run_if_changed: "(\\.go|^Makefile|^Dockerfile)$"
    skip_branches:
    annotations:
      description: Verify image build on pull requests to main branch
    decorate: true
    decoration_config:
      censor_secrets: true
    max_concurrency: 1
    spec:
      containers:
      - name: kaniko
        image: gcr.io/kaniko-project/executor:v1.9.2
        command:
        - /kaniko/executor
        args:
        - --context=/home/prow/go/src/github.com/radochm/build-test
        - --dockerfile=Dockerfile
        - --no-push
        resources:
          requests:
            cpu: 2
            memory: 2Gi
  - name: push-image
    cluster: default
    always_run: false
    run_if_changed: "^VERSION$"
    skip_branches:
    annotations:
      description: Push image to DockerHub
    decorate: true
    decoration_config:
      censor_secrets: true
    max_concurrency: 1
    spec:
      containers:
      - name: kaniko
        image: gcr.io/kaniko-project/executor:v1.9.2
        command:
        - /kaniko/executor
        args:
        - --context=/home/prow/go/src/github.com/radochm/build-test
        - --dockerfile=Dockerfile
        - --destination=radoslawc/nmath:{"BUILD_ID"}
        volumeMounts:
          - name: kaniko-secret
            mountPath: /kaniko/.docker/
        resources:
          requests:
            cpu: 2
            memory: 2Gi
      volumes:
        - name: kaniko-secret
          secret:
            secretName: regcred
            items:
              - key: .dockerconfigjson
                path: config.json

Create VERSION
  VERSION
Due: push-image

Update .prow.yaml
  .prow.yaml
Due: none

Update Makefile
  Makefile
Due: nmath-test, verify-image-build

Update main.go
  main.go
Due: nmath-test, nmath-test-fmt, nmath-test-vet, nmath-lint, verify-image-build

Update Dockerfile
  Dockerfile
Due: verify-image-build

Delete VERSION
  VERSION
Due: push-image

sixth version
  VERSION
Due: push-image

Update VERSION
  VERSION
Due: push-image

Update OWNERS
  OWNERS
Due: none

Update math.go
  nmath/math.go
Due: nmath-test, nmath-test-fmt, nmath-test-vet, nmath-lint, verify-image-build
