Repository radochm/build-test: changes, and which Prow jobs are due for each by the changed paths.
All: vi-test, header-test, subd-test, verify-image-build, build-push-image

vi-test:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:3
      command:
      - /bin/sh
      args:
      - -c
      - 'make unit
  
        make lint
  
        make gosec
  
        '

header-test:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:3
      command:
      - /go/bin/addlicense
      args:
      - -c */**.go

subd-test:
  decorate: true
  spec:
    containers:
    - image: nephio/gotests:2
      command:
      - /bin/sh
      args:
      - -c
      - 'pwd
  
        cd prowsubd && pwd && make lint
  
        '

verify-image-build:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:v1.9.2
      command:
      - /kaniko/executor
      args:
      - --context=/home/prow/go/src/github.com/radochm/build-test
      - --dockerfile=Dockerfile
      - --no-push
      resources:
        requests:
  ...

build-push-image:
  decorate: true
  spec:
    containers:
    - name: kaniko
      image: gcr.io/kaniko-project/executor:debug
      command:
      - /bin/sh
      - -c
      - "executor --context=${PWD} \\\n  --dockerfile=Dockerfile --destination=radoslawc/nmath:${BUILD_ID}\n"
      volumeMounts:
      - name: kaniko-secret
  ...

Update Dockerfile
  Dockerfile
Due: verify-image-build

Update Dockerfile (#94)
  Dockerfile
Due: verify-image-build

Update main.go
  main.go
Due: vi-test, header-test

Update main.go (#97)
  main.go
Due: vi-test, header-test

c2
  main.go
Due: vi-test, header-test

Update .prow.yaml
  .prow.yaml
Due: none

Path conditions:
  vi-test: any of: ^.*.go$
  header-test: any of: ^.*.go$
  subd-test: any of: ^prowsubd/.*.go$
  verify-image-build: any of: ^Dockerfile$
  build-push-image: any of: ^VERSION$
